.home-btn mat-icon {
   color: white !important;
}
.home-btn:hover mat-icon, a:hover {
  color: black  !important; /* bianco leggermente più scuro */
}
header {margin-bottom:40px;}

.separator{
    flex: 1 1 auto;
}
