

<div class="country-edit">
  <h1>{{title}}</h1>
  <p *ngIf="id && !country"><em>Loading...</em></p>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!-- Name-->
    <mat-form-field>
      <mat-label>Name:</mat-label>
      <input matInput formControlName="name" required placeholder="Type a name" />
    </mat-form-field>
    <mat-error *ngFor="let error of getErrors(form.get('name')!, 'name')">{{error}}</mat-error>



    <!-- ISo2 -->
    <mat-form-field>
      <mat-label>ISO 3166 ALPHA Country Code (2 letters)</mat-label>
      <input matInput formControlName="iso2" required placeholder="Insert the ISO2 country code" />
    </mat-form-field>
    <mat-error *ngFor="let error of getErrors(form.get('iso2')!, 'ISO 3166 ALPHA Country Code', {'pattern': 'requires 2 letters'})">{{error}}</mat-error>

    <!-- ISo3 -->
    <mat-form-field>
      <mat-label>ISO 3166 ALPHA Country Code (3 letters)</mat-label>
      <input matInput formControlName="iso3" required placeholder="Insert the ISO3 country code" />
    </mat-form-field>
    <mat-error *ngFor="let error of getErrors(form.get('iso3')!, 'ISO 3166 ALPHA Country Code', {'pattern': 'requires 3 lettrs'})">{{error}}</mat-error>

    <div>
      <button mat-flat-button color="primary" type="submit" [disabled]="!form.valid">
        {{this.id ? "Save" : "Create"}}
      </button>
      <button mat-flat-button color="secondary"
              [routerLink]="['/countries']">
        Cancel
      </button>

    </div>
  </form>
</div>
