table.mat-table {
    width:100%;
}
table {
  width: 100%;
}

.mat-header-cell {
  font-weight: bold;
  font-size: 14px;
}

.mat-cell, .mat-header-cell {
  padding: 8px 12px;
}
.table-container {
  padding: 24px 32px;
  box-sizing: border-box;
}
mat-form-field {
  width: 100%;
  font-size: 14px;
}

